button[mat-icon-button]:hover {
    color: red; /* Change this to your preferred hover color */
  }

.mat-tab-group {
    margin-bottom: 48px;
}

.my-tab-icon {
    margin-left: 8px;
}


.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* remove underline and on-focus ripple-effect of input field */
/* https://stackoverflow.com/questions/45556972/how-to-hide-delete-underline-input-angular-material */
::ng-deep .mat-tab-list .mat-form-field-underline {
    display: none;
}


::ng-deep .mat-tab-list .mat-form-field-ripple {
    display: none;
}


/* nicht ausgrauen. Siehe https://stackoverflow.com/questions/57420263/angular-material-tab-grayed-out-even-on-the-active-tab */
::ng-deep .mat-tab-label.mat-tab-label-active {
  opacity: 1;
}

/* Remove border of input field */
.mat-tab-list input  {
    outline: none;
    border: none;
    color:black !important;
    opacity: 1;
}